@import "tailwindcss";

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-image: url("/bg.png");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
